/* ===========
general styles
=========== */
body {
    color: black;
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #004ECC !important;
}

h1 {
    font-family: 'Modak', cursive;
    font-size: 3.5rem;
}

strong {
    font-weight: bold;
}

/* =================
custom class styling
=================== */
.main-container {
    margin-top: 5rem;
}

/* navbar logo */
.nav .fl-tux {
    font-size: 1.5rem;
}

.brand-logo {
    padding-left: .5rem !important;
}

/* side/mobile nav */
.sidenav {
    background-color: #004ECC;
}

.sidenav li>a {
    color: white;
    font-size: 1.2rem;
}

/* background image */
.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    background-image: url(https://i.imgur.com/b1D2f8N.jpg);
    background-size: cover;
}

/* background pane */
/* small */
.bg-white {
    position: absolute;
    left: 5%;
    background-color: antiquewhite;
    z-index: -1;
    width: 90%;
    height: 60%;
    border-radius: 3rem;
    padding-top: 5rem;
    margin-top: -2rem;
    border: 3px dashed #004ECC;
}
/* medium */
.bg-white-md {
    position: absolute;
    left: 5%;
    background-color: antiquewhite;
    z-index: -1;
    width: 90%;
    height: 75%;
    border-radius: 3rem;
    padding-top: 5rem;
    margin-top: -2rem;
    border: 3px dashed #004ECC;
}
/* large */
.bg-white-lg {
    position: absolute;
    left: 2%;
    background-color: antiquewhite;
    z-index: -1;
    width: 95%;
    height: 120%;
    border-radius: 3rem;
    padding-top: 5rem;
    margin-top: -2rem;
    border: 3px dashed #004ECC;
}
/* My List background */
.list-bg {
    opacity: .2;
    content: "";
    position: fixed;
    border-radius: 50%;
    top: 16rem;
    left: 52rem;
    width: 25rem;
    height: 25rem;
}
/* My List header image */
.header-img {
    width: 15rem;
    border-radius: 50%;
}

.divider {
    background-color: #B30021 !important;
}

/* my list card styling */
.remove-card i {
    color: #c2af00;
}

/* empty distros footer section */
.empty-distros {
    background-color: #B30021;
}

.empty-distros span {
    margin: .5rem;
}

.collapsible-body {
    background-color: #B30021;
}

/* "be careful" warning background */
.careful {
    background-color: #c2af00;
}
/* "are you sure" warning background */
.sure {
    background-color: #B30021;
    color: white;
}

/* FIND results section */
.results-title {
    font-size: 1.5rem;
}

.results {
    margin-top: 3rem;
}

/* button styling */
.btn {
    background-color: #004ECC;
}

.btn:hover {
    background-color: #B30021;
}

.btn-flat {
    color: white;
}

.btn-cancel {
    background-color: grey;
}

.btn-cancel:hover {
    background-color: #B30021;
}

.back-button {
    background-color: #B30021;
}

.back-button:hover {
    background-color: #004ECC;
}

/* card styling */
.card {
    background-color: #004ECC;
}

.card-content a {
    color: white;
}

.card-content a:hover {
    color: #B30021;
}

.card-link span,
.card-action span {
    color: white;
}

.card-link span:hover,
.card-action span:hover {
    color: #B30021;
}

.card-text strong {
    background-color: #c2af00;
    color: black;
}

.material-icons {
    color: white;
}

/* form styling */

.input-field label {
    color: #004ECC;
}

.g-recaptcha {
    display: inline-block
}

.recaptcha-wrapper {
    text-align: center;
}

.input-field input[type=text]:focus+label {
    color: #004ECC !important;
}

#app_name:focus,
#app_instruction:focus,
#app_command:focus,
#app_url:focus {
    border-bottom: 1px solid #004ECC;
    box-shadow: 0 1px 0 0 #004ECC;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #004ECC;
    box-shadow: 0 1px 0 0 #004ECC;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #004ECC;
    box-shadow: 0 1px 0 0 #004ECC;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #004ECC;
    box-shadow: 0 1px 0 0 #004ECC;
}

.dropdown-content li>span {
    color: #B30021;
}

::placeholder {
    color: #B30021 !important;
}

/* toast styling */

#toast-container {
    bottom: 2.7%;
}

.toast-title,
.toast-close-button,
.toast-progress {
    display: none;
}

.toast {
    background-color: #B30021;
}

/* ==========
MEDIA QUERIES
=========== */

@media only screen and (min-width: 400px) {
    .results {
        margin-top: 12rem;
    }
}

@media only screen and (min-width: 601px) {
    .bg-white {
        left: 10%;
        width: 80%;
        height: 50%;
    }

    .bg-white-md {
        left: 10%;
        width: 80%;
        height: 75%;
    }

    .bg-white-lg {
        left: 10%;
        width: 80%;
        height: 88%;
    }

    .results {
        margin-top: 12rem;
    }
}

@media only screen and (min-width: 992px) {
    .bg-white {
        left: 24%;
        width: 52%;
        height: 50%;
    }

    .bg-white-md {
        left: 24%;
        width: 52%;
        height: 50%;
    }

    .bg-white-lg {
        left: 24%;
        width: 52%;
        height: 93%;
    }
}