body {
    color: black;
    font-family: 'Raleway', sans-serif;
}

nav {
    background-color: #478eff !important;
}

h2 {
    font-family: 'Modak', cursive;
}

strong {
    font-weight: bold;
}

.main-container {
    margin-top: 5rem;
}

.nav .fl-tux {
    font-size: 1.5rem;
}

.sidenav {
    background-color: #478eff;
}

.sidenav li>a {
    color: white;
    font-size: 1.2rem;
}

.bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .3;
    background-image: url(https://i.imgur.com/b1D2f8N.jpg);
    background-size: cover;
}

.find-bg {
    background-color: white;
}

.bg-white {
    position: absolute;
    left: 5%;
    background-color: antiquewhite;
    z-index: -1;
    width: 90%;
    height: 50%;
    border-radius: 3rem;
    padding-top: 5rem;
    margin-top: -2rem;
    border: 3px dashed #478eff;
}
.bg-white-lg {
    position: absolute;
    left: 2%;
    background-color: antiquewhite;
    z-index: -1;
    width: 95%;
    height: 95%;
    border-radius: 3rem;
    padding-top: 5rem;
    margin-top: -2rem;
    border: 3px dashed #478eff;
}

.list-bg {
    opacity: .2;
    content: "";
    position: fixed;
    border-radius: 50%;
    top: 16rem;
    left: 52rem;
    width: 25rem;
    height: 25rem;
}

.header-img {
    width: 15rem;
    border-radius: 50%;
}

.divider {
    background-color: #ff476c !important;
}

.collapsible-header {
    background-color: #ff476c;
    color: #ffed47;
}

.empty-distros span {
    margin: .5rem;
}

.collapsible-body {
    background-color: #ff476c;
}

.careful {
    background-color: #ffed47;
}

.sure {
    background-color: #ff476c;
}

.results-title {
    font-size: 1.5rem;
}

.results {
    margin-top: 3rem;
}

.brand-logo {
    padding-left: .5rem !important;
}

.btn {
    background-color: #478eff;
}

.btn:hover {
    background-color: #ff476c;
}

.btn-flat {
    color: white;
}

.btn-cancel {
    background-color: grey;
}

.btn-cancel:hover {
    background-color: #ff476c;
}

.card {
    background-color: #478eff;
}

.card-content a {
    color: white;
}

.card-content a:hover {
    color: #ff476c;
}

.card-link span {
    color: white;
}
.card-link span:hover {
    color: #ff476c;
}

.material-icons {
    color: white;
}

.input-field label {
    color: #478eff;
}

.g-recaptcha {
    display: inline-block
}

.recaptcha-wrapper {
    text-align: center;
}

.input-field input[type=text]:focus + label {
    color: #478eff !important;
}
#app_name:focus,
#app_instruction:focus,
#app_command:focus,
#app_url:focus {
    border-bottom: 1px solid #478eff;
    box-shadow: 0 1px 0 0 #478eff;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #478eff;
    box-shadow: 0 1px 0 0 #478eff;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #478eff;
    box-shadow: 0 1px 0 0 #478eff;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #478eff;
    box-shadow: 0 1px 0 0 #478eff;
}

.dropdown-content li>span {
    color: #ff476c;
}

::placeholder {
    color: #ff476c !important;
}

.card-text strong {
    background-color: #ffed47;
    color: black;
}

#toast-container {
    bottom: 2.7%;
}

.toast-title, 
.toast-close-button,
.toast-progress {
    display: none;
}

.toast {
    background-color: #ff476c;
}

.remove-card i {
    color: #ffed47;
}

@media only screen and (min-width: 400px) {
    .results {
        margin-top: 12rem;
    }
    
  }
@media only screen and (min-width: 601px) {
    .bg-white {
        left: 10%;
        width: 80%;
        height: 50%;
    }

    .bg-white-lg {
        left: 10%;
        width: 80%;
        height: 88%;
    }

    .results {
        margin-top: 12rem;
    }
    
  }

@media only screen and (min-width: 992px) {
    .bg-white {
        left: 24%;
        width: 52%;
        height: 50%;
    }

    .bg-white-lg {
        left: 24%;
        width: 52%;
        height: 88%;
    }
  }