<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="//cdn.jsdelivr.net/gh/Lukas-W/font-logos@v0.11/assets/font-logos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/624307dae0.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {{ toastr.include_jquery() }}
    {{ toastr.include_toastr_css('/static/style.css') }}
    {{ toastr.message() }}
    <title>{% block title %}{% endblock %} - Linux Command Generator</title>
    {% endblock %}
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a class="brand-logo" href="{{ url_for('get_distros') }}"><span class="fl-tux"></span></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>                
                <ul class="right hide-on-med-and-down">
                    {% if 'find_command' in request.path %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('find_command') }}">Find Commands<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_command') }}">Add Command</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_distro') }}">Add Distro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_list_func')}}">My List</a>
                    </li>
                    {% elif 'add_command' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('find_command') }}">Find Commands</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('add_command') }}">Add Command<span
                            class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_distro') }}">Add Distro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_list_func')}}">My List</a>
                    </li>
                    {% elif 'my_list' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('find_command') }}">Find Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_command') }}">Add Command</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_distro') }}">Add Distro</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('my_list_func')}}">My List<span
                            class="sr-only">(current)</span></a>
                    </li>
                    {% elif 'add_distro' in request.path %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('find_command') }}">Find Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_command') }}">Add Command</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('add_distro') }}">Add Distro<span
                            class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_list_func')}}">My List</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('find_command') }}">Find Commands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_command') }}">Add Command</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_distro') }}">Add Distro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('my_list_func')}}">My List</a>
                    </li>
                    {% endif %}
                </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('find_command') }}">Find Commands</a></li>
        <li><a href="{{ url_for('add_command') }}">Add Command</a></li>
        <li><a href="{{ url_for('my_list_func')}}">My List</a></li>
    </ul>
    <div class="container center-align main-container">
        {% block content %} {% endblock %}
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <script>
        M.AutoInit();
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
    {{ toastr.include_toastr_js() }}
</body>

</html>