{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block content %}
<h2>Delete Command</h2>
<p><span class="orange">Are you <strong>SURE</strong> you want to delete this command?</span></p>
<form action="" method="POST">
    <div class="form-group">
        {{ form.hidden_tag() }}
        <div class="input-field">
            <label for="app_name">App Name</label>
            {{ form.form_name(id="app_name", class_="form-control", value=cmd_to_delete.app_name, readonly=readonly) }}
        </div>
        <br>
        <div class="input-field">
            {{ form.form_selected_distro(id="selected_distro", class_="form-control", value=cmd_to_delete.app_distro, readonly=readonly) }}
            <label>Distro</label>
        </div>
        <br>
        <div class="input-field">
            <label for="app_url">URL for file download (if required)</label>
            {{ form.form_url(id="app_url", class_="form-control", value=cmd_to_delete.app_url, readonly=readonly) }}
            <small id="app_url_Help" class="form-text text-muted">Only needed if the command requires a separate file
                download</small>
        </div>
        <br>
        <div class="input-field">
            <label for="app_instruction">App Instructions</label>
            {{ form.form_instruction(id="app_instruction", class_="form-control", value=cmd_to_delete.app_instruction, readonly=readonly) }}
        </div>
        <br>
        <div class="input-field">
            <label for="app_command">App Command</label>
            {{ form.form_command(id="app_command", class_="form-control", value=cmd_to_delete.app_command, readonly=readonly) }}
            <small id="app_command_Help" class="form-text text-muted">Most commands require root/super access...<span class="orange">BE
                CAREFUL</span></small>
        </div>
        <br>
        <div class="recaptcha-wrapper">
            {{ form.form_recaptcha }}
        </div>
        <br>
        {{ form.form_submit(id="submit", class_="btn deep-purple btn-large hoverable", value='Delete') }}
        <a href="{{ url_for('find_command') }}" class="btn btn-large orange hoverable">Cancel</a>
    </div>
</form>

{% endblock %}