{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>List of Distros & Commands</h2>
<div class="row" id="card-container">

    {% for distro in distros %}
    {% if counter[distro.distro_name] > 0 %}
    <div class="col xs12 s6 m6 l3">
        <div class="card l3 hoverable">
            <div class="card-content deep-purple white-text">
                <span class="card-title"><i class="orange-text {{ distro.distro_logo }}" aria-hidden="true"></i>
                    {{ distro.distro_name }}</span>
                <p>{{ counter[distro.distro_name] }} commands</p>
            </div>
            <div class="card-action deep-purple">
                <a class="btn-flat tooltipped" data-position="bottom" data-tooltip="view {{ distro.distro_name }} commands" href="{{ url_for('get_distro_cmds', distro_name=distro.distro_name) }}"><span class="material-icons">
                        search</span></a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}