{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>List of Distros & Commands</h2>

{% for distro in distros %}
<div class="card float-left" style="width: 18rem;" id="card_{{ distro._id }}">
    <img src="..." class="card-img-top" alt="">
    <div class="card-body">
        <h5><i class="{{ distro.distro_logo }}" aria-hidden="true"></i> {{ distro.distro_name }}</h5>
        <p class="card-text">Info about distro</p>
    </div>
    <!-- <ul class="list-group list-group-flush">
        {% for command in commands %}
        {% if command.app_distro == distro.distro_name %}
        <li class="list-group-item">{{ command.app_name }}</li>
        {% endif %}
        {% endfor %}
    </ul> -->
    <div class="card-body">
        <a href="{{ url_for('get_distro_cmds', distro_name=distro.distro_name) }}" class="card-link">View Commands</a>
    </div>
</div>
{% endfor %}
{% endblock %}