{% extends 'base.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
<div class="bg-white-lg"></div>
<h1>Edit Command</h1>
<div class="container">
    <form action="{{ url_for('edit_command', command_id=cmd_to_update._id) }}" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            <!-- APP NAME -->
            <div class="input-field">
                <label for="app_name">App Name</label>
                {{ form.form_name(id="app_name", class_="form-control", value=cmd_to_update.app_name) }}
            </div>
            <br>
            <!-- DISTRO SELECT -->
            <div class="input-field">
                <select name="app_distro" id="distros_select">
                    {% for distro in distros %}
                    {% if distro.distro_name == cmd_to_update.app_distro %}
                    <option value="{{ distro.distro_name }}" selected>{{ distro.distro_name }}</option>
                    {% else %}
                    <option value="{{ distro.distro_name }}">{{ distro.distro_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="app_distro">Distro</label>
            </div>
            <br>
            <!-- DLOAD URL -->
            <div class="input-field">
                <label for="app_url">URL for file download (if required)</label>
                {{ form.form_url(id="app_url", class_="form-control", value=cmd_to_update.app_url) }}
                <small id="app_url_Help" class="form-text text-muted">Only needed if the command requires a separate
                    file
                    download</small>
            </div>
            <br>
            <!-- INSTRUCTIONS -->
            <div class="input-field">
                <label for="app_instruction">App Instructions</label>
                {{ form.form_instruction(id="app_instruction", class_="form-control", value=cmd_to_update.app_instruction) }}
            </div>
            <br>
            <!-- COMMAND -->
            <div class="input-field">
                <label for="app_command">App Command</label>
                {{ form.form_command(id="app_command", class_="form-control", value=cmd_to_update.app_command) }}
            </div>
            <br>
            <!-- RECAPTCHA -->
            <div class="recaptcha-wrapper">
                <label for="g-recaptcha-response"></label>
                {{ form.form_recaptcha }}
            </div>
            <!-- WARNING for RECAPTCHA -->
            {% if error %}
            <p class="text-danger">Please complete recaptcha {{ form.errors }}</p>
            {% endif %}
            <br>
            <!-- SUBMIT -->
            {{ form.form_submit(class_="btn btn-large center")}}
            <!-- CANCEL -->
            <a href="{{ request.referrer }}" class="btn btn-large btn-cancel">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}