{% extends 'base.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
<h2>Update Command</h2>

<form action="" method="POST">
    <div class="form-group">
        {{ form.hidden_tag() }}
        <label for="app_name">App Name</label>
        {{ form.form_name(id="app_name", class_="form-control", default=cmd_to_update.app_name, value=cmd_to_update.app_name) }} 
        <br>
        <label for="app_distro">Distro</label>
        {{ form.form_distro(id="app_distro", value=cmd_to_update.app_distro, default=cmd_to_update.app_distro, class_="form-control") }}
        <br>
        <label for="app_url">URL for file download (if required)</label>
        {{ form.form_url(id="app_url", class_="form-control", default=cmd_to_update.app_url, value=cmd_to_update.app_url) }}
        <small id="app_url_Help" class="form-text text-muted">Only needed if the command requires a separate file download</small>
        <br>
        <label for="app_instruction">App Instructions</label>
        {{ form.form_instruction(id="app_instruction", class_="form-control", default=cmd_to_update.app_instruction, value=cmd_to_update.app_instruction) }}
        <br>
        <label for="app_command">App Command</label>
        {{ form.form_command(id="app_command", class_="form-control", default=cmd_to_update.app_command, value=cmd_to_update.app_command) }}
        <br>
        {{ form.form_recaptcha }}
        {% if error %}
        <p class="text-danger">Please complete recaptcha {{ form.errors }}</p>
        {% endif %}
        <br>
        {{ form.form_submit(class_="btn btn-warning", value="Update") }}
        <a href="{{ url_for('find_command') }}" class="btn btn-primary">Cancel</a>
    </div>
</form>
{% endblock %}