{% extends 'base.html' %}

{% block content %}
<h3>Find Commands</h3>
<form action="{{ url_for('find_command') }}" method="POST">
    <label for="app_name">App Name</label>
    <input type="text" id="app_name" name="app_name">
    <br>
    <label for="app_distro">Distro</label>
    <select id="app_distro" name="app_distro">
        <option value="" disabled selected>Select distro</option>
        {% for distro in distros %}
            <option value="{{ distro.distro_name }}">{{ distro.distro_name }}</option>
        {% endfor %}
        <!-- <option value="new_distro">add new distro</option> -->
    </select>
    <br>
    <button type="submit">Submit</button>
</form>
<hr>

    {% for apps in results %}
        {% if req_type == 'insert_fail' %}
            <h3>Commands already exists:</h3>
        {% elif req_type == 'update' %}
            <h3>Command updated:</h3>
        {% else %}
            <h3>Results:</h3>
        {% endif %}
        <div class="results">
            <h4>{{ apps['app_name'] }}</h4>
            <strong>Distro:</strong> {{ apps['app_distro'] }}
            <strong>Instructions:</strong> {{ apps['app_instruction'] }}
            <strong>Command:</strong> {{ apps['app_command'] }}
            <a href="{{ url_for('edit_command', command_id=apps._id) }}">Edit</a>
            <a href="{{ url_for('delete_command', command_id=apps._id) }}">Delete</a>
        </div>
    {% endfor %}
{% endblock %}