{% extends 'base.html' %}
{% block title %}Find{% endblock %}
{% block content %}
<h3>Find Commands</h3>

<form action="{{ url_for('find_command') }}" method="POST">

    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="app_name">App Name</label>
        {{ form.search_app(id="app_name", class_="form-control", placeholder="Enter app name to search") }}
        <br>
        <label for="app_distro">Distro</label>
        {{ form.search_distro(id="app_distro", class_="form-control") }}
        <br>
        {{ form.search_submit(class_="btn btn-info", value="Search") }}
    </div>
</form>
<hr>

{% if results %}
{% for apps in results %}
{% if req_type == 'insert_fail' %}
<p>[command already exists]</p>
{% elif req_type == 'update' %}
<p>[command updated]</p>
{% elif req_type == 'empty' %}
<h3>Please enter search parameters above</h3>
{% endif %}
<h3>Results:</h3>
<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">{{ apps['app_name'] }}</h4>
        <h5 class="card-subtitle mb-2 text-muted">Distro: {{ apps['app_distro'] }}</h5>
        <p class="card-text"><strong>Instructions:</strong> {{ apps['app_instruction'] }}</p>
        <p class="card-text"><strong>Command:</strong> <span id="command_{{ apps._id }}" class="command_to_copy">{{ apps['app_command'] }} <a class="copy_button"><i
                    class="far fa-copy"></i></a></span></p>
        <a class="card-link" href="{{ url_for('edit_command', command_id=apps._id) }}">Edit</a>
        <a class="card-link" href="{{ url_for('confirm_delete', command_id=apps._id) }}">Delete</a>
        <a class="card-link" href="{{ url_for('add_to_list', command_id=apps._id) }}">Add to MyList</a>
    </div>
</div>
{% endfor %}

{% endif %}
{% endblock %}