{% extends 'base.html' %}
{% block title %}My List{% endblock %}
{% block content %}

<h3>My List</h3>
{% if my_list %}
{% for key, value in my_list.items() %}

<div class="card mb-3">
    <div class="container">
        <div class="row">
            <div class="col-11">
                <div class="card-body float-left">
                    <h5 class="card-title">{{ key }} ({{ value['distro'] }})</h5>
                    <p class="card-text"><strong>instruction:</strong> {{ value['instruction'] }}</p>
                    <p class="card-text"><strong>command:</strong> {{ value['command'] }} <a class=""
                            href="{{ url_for('copy_command', command_id=value['id']) }}"><i class="far fa-copy"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-1 float-left"><a href=""><i class="pt-3 pl-lg-5 fas fa-times-circle"></i></a></div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>You haven't saved any commands yet</p>
{% endif %}
{% endblock %}