{% extends 'base.html' %}
{% block title %}Add{% endblock %}
{% block content %}
<h2>Send My List</h2>
<form action="" method="POST">
    <div class="form-group">
        {{ form.hidden_tag() }}
        <label for="email_address">Email Address</label>
        {{ form.email_address(id="email_address", class_="form-control", placeholder="Enter email address") }} 
        <br>
        {{ form.form_recaptcha }}
        {% if error %}
        <p class="text-danger">Please complete recaptcha</p>
        {% endif %}
        <br>
        {{ form.email_submit(class_="btn btn-primary")}}
    </div>
</form>
{% endblock %}